:root {
    --primary-color: #6C63FF;
    --secondary-color: #A593E0;
    --accent-color: #F1E9FF;
  }
  
html {
    overflow: hidden;
}

body, html {
    margin: 5px 5px 0;
    padding: 5px 5px 0;
}

body {
    overflow: auto;
}

  .parent {
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    background-image: url("./assets/backgound-folio.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
  
  .div1 {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: purple;
    margin-right: 50%;
    margin-left: 100px;
    height: 825px;
    width: 25px;
    border: 10px solid rgb(226, 73, 226);
    border-top-right-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 3%;
    border-bottom-right-radius: 3%;
    /* transform-origin: top left;
    transform: rotate(-37deg); */
      }
  
      .div2 {
        margin: 20px;
      }

      .div3 {
        margin-right: 20px;
        padding-left: 10px;
        margin: 30px;
        padding-top: 10px;
      }

      .div4 {
        margin: 20px;
      }
      

header img {
    z-index: 10;
    background-color: whitesmoke;
    width: 50px;
    margin-left: 150px;
    margin-top: 200px;
}

header img:hover {
    transform: scale(2);
    filter: contrast(200%); /* Adjust the value to change the contrast */

  }

  .hi-im {
    color: gold;
    display: inline-block;
    white-space: nowrap;
    font-size: 2em;
    animation: slideFromRight 3s forwards, shimmer 2s infinite linear;
  }
  
  .welcome {
    font-size: 1em;
    color: gold;
    text-align: center;
    animation: fadeIn 1s forwards, shimmer 2s infinite linear;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    background-size: 200% 100%;
  }
  
  .name {
    color: gold;
    display: inline-block;
    white-space: nowrap;
    font-size: 1em;
    animation: slideFromRightFast 3s forwards, shimmer 2s infinite linear;
  }
  
h2,
h3,
h4 {
    border-bottom: 3px solid gold;
    z-index: 3;
}

  .div2 a {
    display: inline-block;
    transition: transform 0.3s;
  }
  
  .div2 a:hover {
    transform: scale(1.1); 
    color: gold;/* Adjust the scaling factor as needed */
  }
  
  
  a {
    color: rgb(90, 10, 90);
  }

  button {
    background: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background: var(--primary-color);
    transform: scale(0.95);
  }
  
  @keyframes scaleAndFadeIn {
    0% {
      font-size: 1em;
      opacity: 0;
    }
    70% {
      font-size: 6em;
      opacity: 1;
    }
    100% {
      font-size: 6em;
      opacity: 0;
    }
  }
  
  @keyframes slideFromRightAndGrowName {
    0% {
      transform: translateX(100%);
      opacity: 0;
      font-size: 1em;
    }
    70% {
      transform: translateX(0);
      opacity: 1;
      font-size: 1em;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      font-size: 3em;
    }
  }
  

  
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes shimmer {
    0% {
      background-position: -100%;
    }
    100% {
      background-position: 100%;
    }
  }
  
  
  @keyframes scroll {
    0% {
      transform: translateX(-100%);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .scroll-text {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2em;
    opacity: 0; 
  }
  

  footer img {
    margin-top: 25px;
    padding-top: 10px;
    margin-left: 50px;
    padding-left: 10px;
    display: flex;
    width: 35px;
    filter: contrast(200%); /* Adjust the value to change the contrast */

  }